<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course-page</title>
    <link rel="stylesheet" href="mapel.css">
    <script src="mapel.js"></script>
</head>

<body style="
padding-top: 100px;">

    <div style="
        background-color: #FF7E7E;
        width: 890px;
        height: 600px;
        margin: 0 auto;
        border-radius: 100px;
        color:#FF7E7E;
        font-family: Arial, Helvetica, sans-serif;
        padding: 50px;">
        <!-- luar -->

        <!-- linekiri -->
        <div style="padding: 10px;">

            <div style="
            display: flex;
            flex-direction: row;
            display: flex;
            justify-content: space-between;">
                <!-- Header -->
                <div style="
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 406px;
                padding: 0px;
                height: 120px;
                background-color: #FFEBEB;
                border-radius: 20px;
                text-align: center;
                font-size: 38px;
                font-weight: bolder;">
                    <p>Hi, Username</p>

                    <div style="
                    width: 41px;
                    height: 51px;
                    background-color: #FF7E7E;
                    margin-top: 25px;
                    border-radius: 20px;
                    padding: 5px;
                    ">
                        <div style="
                    width: 32px;
                    height: 20px;
                    background-color: #FFEBEB;
                    border-radius: 20px;
                    margin: 0 auto;
                    ">
                        </div>
                    </div>

                </div>

                <!-- <div style="padding-right: 40px;"></div> -->
                <!-- navbar -->
                <div>
                    <div style="
                        width: 300px;
                        height: 40px;
                        background-color: #FFEBEB;
                        border-radius: 20px;
                        padding: 7px;">

                        <div style="
                        width: 0px;
                        height: 40px;
                        background-color: #FF7E7E;
                        border-radius: 20px;
                        animation-name: loading-bar;
                        animation-duration: 4s;
                        animation-delay: 2s;
                        "></div>

                    </div>


                    <div class="header-navbar" style="
                    display:flex;
                    flex-direction: row;">
                        <ul style="
                        width: 71px;
                        height: 41px;
                        background-color: #FFEBEB;
                        border-radius: 20px;
                        text-decoration: none;
                        list-style-type: none;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        padding-left: 2px;
                        padding-top: 0px;
                        padding-bottom: 0px;">
                            <li style="
                            text-decoration: none;">
                                <a href="Login.html" style="
                            color: #FF7E7E;
                            text-decoration: none;
                            list-style-type: none;
                            text-align: center;
                            font-weight: bolder;
                            padding-top: 12px;
                            margin: 0 auto;
                            display: flex;
                            justify-content: center;
                            height: 30px;
                            ">
                                    Home
                                </a>
                            </li>
                        </ul>

                        <div style="padding-right: 10px;":></div>

                        <ul style="
                        width: 71px;
                        height: 41px;
                        background-color: #FFEBEB;
                        border-radius: 20px;
                        text-decoration: none;
                        list-style-type: none;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        padding-left: 2px;
                        padding-top: 0px;
                        padding-bottom: 0px;">
                            <li style="
                            text-decoration: none;">
                                <a href="mapel.htm" style="
                            color: #FF7E7E;
                            text-decoration: none;
                            list-style-type: none;
                            text-align: center;
                            font-weight: bolder;
                            padding-top: 12px;
                            margin: 0 auto;
                            display: flex;
                            justify-content: center;
                            height: 30px;
                            ">
                                    Course
                                </a>
                            </li>
                        </ul>

                        <div style="padding-right: 10px;":></div>

                        <ul style="
                        width: 71px;
                        height: 41px;
                        background-color: #FFEBEB;
                        border-radius: 20px;
                        text-decoration: none;
                        list-style-type: none;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        padding-left: 2px;
                        padding-top: 0px;
                        padding-bottom: 0px;">
                            <li style="
                            text-decoration: none;">
                                <a href="Register.html" style="
                            color: #FF7E7E;
                            text-decoration: none;
                            list-style-type: none;
                            text-align: center;
                            font-weight: bolder;
                            padding-top: 12px;
                            margin: 0 auto;
                            display: flex;
                            justify-content: center;
                            height: 30px;
                            ">
                                    Log-Out
                                </a>
                            </li>
                        </ul>

                        <div style="padding-right: 10px;":></div>
                    
                        <ul style="
                        width: 61px;
                        height: 41px;
                        background-color: #FFEBEB;
                        border-radius: 20px;
                        text-decoration: none;
                        list-style-type: none;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        padding-left: 2px;
                        padding-top: 0px;
                        padding-bottom: 0px;">
                            <li style="
                            text-decoration: none;">
                                <a href="User.htm" style="
                            color: #FF7E7E;
                            text-decoration: none;
                            list-style-type: none;
                            text-align: center;
                            font-weight: bolder;
                            padding-top: 12px;
                            margin: 0 auto;
                            display: flex;
                            justify-content: center;
                            height: 30px;
                            ">
                                    User
                                </a>
                            </li>
                        </ul>

                        

                    </div>

                </div>

                <!-- kotak -->
                 <div class="kotakputih" style="
                 width: 94px;
                 height: 105px;
                 background-color: #FFEBEB;
                 border-radius: 20px;
                 ">
                    <div class="buletandidalamkotakputih" style="
                    width: 59px;
                    height: 50px;
                    background: #FF7E7E;
                    margin: 10px auto;
                    border-radius: 50px;
                    "></div>
                 </div>

            </div>

            <div style="padding-bottom: 10px;"></div>

            <p style="
            color: #FFEBEB;
            font-size: 18px;
            width: 400px;
            height: 39px;
            padding: 0px;
            margin: 0px;
            margin-left: 10px;
            ">
                Take a look at your exam-list for today-!
        </p>

        <table>
            <tr>


            <div style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 420px;
            height: 60px;
            background-color: #FFEBEB;
            border-radius: 20px;
            padding: 0 8px 0 20px;
            margin-top: 10px;
            ">
                <span style="
                    font-size: 20px;
                    font-weight: bold;
                    color: #FF7E7E;
                    white-space: nowrap;
                    ">Seni Budaya dan Sastra</span>

                <button onclick="klikButton()" id="checkboxBtn" style="
                    background-color: #FF7E7E;
                    width: 44px;
                    height: 44px;
                    border: none;
                    border-radius: 14px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    ">
                    <svg style="display: none;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="centang">
                        <path d="M5 13L9.5 17.5L19 7" stroke="#FFEBEB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>

            <div style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 420px;
            height: 60px;
            background-color: #FFEBEB;
            border-radius: 20px;
            padding: 0 8px 0 20px;
            margin-top: 10px;
            ">
                <span style="
                    font-size: 20px;
                    font-weight: bold;
                    color: #FF7E7E;
                    white-space: nowrap;
                    ">Seni Budaya dan Sastra</span>

                <button onclick="klikButton()" id="checkboxBtn" style="
                    background-color: #FF7E7E;
                    width: 44px;
                    height: 44px;
                    border: none;
                    border-radius: 14px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    ">
                    <svg style="display: none;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="centang">
                        <path d="M5 13L9.5 17.5L19 7" stroke="#FFEBEB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>

            </tr>
        </table>

        </div>


    
    </div>

</body>

</html>