@keyframes loading-bar {
  0%   {width: 20px;}
  25%  {width: 80px;}
  50%  {width: 150px;}
  75%  {width: 300px;}
  100% {width: 0px;}
}

#centang {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}