<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Page</title>
    <link rel="stylesheet" href="user.css">
</head>
<body style="padding: 0px;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-direction: row;">

    <navbar>
            
            <ul style="
            background-color: #663C3C;
            width: 379px;
            height: 990px;
            margin: 0;
            list-style-type: none;
            padding: 0px;">
                <div class="header-navbar" style="display: flex; flex-direction: row; padding-left: 20px; display: flex; justify-content: space-between;">
                    <h1 style="
                        font-size: 48px;
                        font-weight: bolder;
                        color: #FFEBEB;
                        margin-left: 40px;">Helloo</h1>
                    <div style="
                    width: 41px;
                    height: 26px;
                    background-color: #FFEBEB;
                    border-radius: 20px;
                    margin-top: 20px;
                    margin-right: 20px;"></div>
                </div>


                <div>
                <li style="
                background-color: #FF7E7E;
                width: 280px;
                height: 80px;
                font-weight: bolder;
                color: #FFEBEB;
                font-size: 48px;
                padding-left: 30px;
                padding-top: 30px;
                border-radius: 20px;
                margin-left: -10px;">Username</li>

                <div style="padding-bottom: 65px;"></div>

                <li><a href="mapel.htm" style="background-color: #FF7E7E;
                width: 280px;
                height: 80px;
                font-weight: bolder;
                color: #FFEBEB;
                font-size: 48px;
                padding-left: 30px;
                padding-top: 30px;
                border-radius: 20px;
                margin-left: -10px;
                text-decoration: none;
                padding-bottom: 20px;
                padding-right: 110px;
                ">Course</a></li>

                <div style="padding-bottom: 90px;"></div>

                <li><a href="tryout.htm" style="background-color: #FF7E7E;
                width: 280px;
                height: 80px;
                font-weight: bolder;
                color: #FFEBEB;
                font-size: 48px;
                padding-left: 30px;
                padding-top: 30px;
                border-radius: 20px;
                margin-left: -10px;
                text-decoration: none;
                padding-bottom: 20px;
                padding-right: 30px;
                ">Last-Exam</a></li>

                <div style="padding-bottom: 200px;"></div>

                <li><a href="User.htm" style="background-color: #FF7E7E;
                width: 280px;
                height: 80px;
                font-weight: bolder;
                color: #FFEBEB;
                font-size: 48px;
                padding-left: 30px;
                padding-top: 30px;
                border-radius: 20px;
                margin-left: -10px;
                text-decoration: none;
                padding-bottom: 20px;
                padding-right: 30px;
                ">User-Page</a></li>

                <div style="padding-bottom: 90px;"></div>

                <li><a href="Register.html" style="background-color: #FF7E7E;
                width: 280px;
                height: 80px;
                font-weight: bolder;
                color: #FFEBEB;
                font-size: 48px;
                padding-left: 30px;
                padding-top: 30px;
                border-radius: 20px;
                margin-left: -10px;
                text-decoration: none;
                padding-bottom: 20px;
                padding-right: 80px;
                ">Log-Out</a></li>

            </ul>

    </navbar>

    <div class="luarpink">
        
        <div class="user-header">

            <div class="profile">
                <svg width="139" height="131" viewBox="0 0 139 131" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 20px;">
                <g clip-path="url(#clip0_99_25)">
                <rect width="139" height="131" rx="65.5" fill="#FFEBEB"/>
                <path d="M70.0002 83.1667C84.0374 83.1667 95.4168 71.6007 95.4168 57.3333C95.4168 43.066 84.0374 31.5 70.0002 31.5C55.9629 31.5 44.5835 43.066 44.5835 57.3333C44.5835 71.6007 55.9629 83.1667 70.0002 83.1667Z" stroke="#FF7E7E" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M110.667 124.5C110.667 113.538 106.382 103.024 98.7558 95.2729C91.1294 87.5214 80.7856 83.1667 70.0002 83.1667C59.2147 83.1667 48.871 87.5214 41.2445 95.2729C33.618 103.024 29.3335 113.538 29.3335 124.5" stroke="#FF7E7E" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                    <defs>
                    <clipPath id="clip0_99_25">
                    <rect width="139" height="131" rx="65.5" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>

            <div style="padding-right: 50px;"></div>

            <div class="username">Username</div>

        </div>

        <div style="padding-bottom: 50px;"></div>

        <div class="bawah">

            <div class="bawah1" style="display: flex; flex-direction: row;">
                <div class="nilai" style="margin-left: 10px;">90</div>
                <div style="margin-right: 40px;"></div>
                <div class="mapel" style="padding-left: 10px;">Seni Budaya dan Sastra</div>
            </div>

            <div style="padding-bottom: 20px;"></div>

            <div class="bawah2" style="display: flex; flex-direction: row;">
                <div class="nilai" style="margin-left: 10px;">90</div>
                <div style="margin-right: 40px;"></div>
                <div class="mapel" style="padding-left: 10px;">Seni Budaya dan Sastra</div>
            </div>

            <div style="padding-bottom: 20px;"></div>

            <div class="bawah3" style="display: flex; flex-direction: row;">
                <div class="nilai" style="margin-left: 10px;">90</div>
                <div style="margin-right: 40px;"></div>
                <div class="mapel" style="padding-left: 10px;">Seni Budaya dan Sastra</div>
            </div>

            <div style="padding-bottom: 20px;"></div>

            <div class="bawah4" style="display: flex; flex-direction: row;">
                <div class="nilai" style="margin-left: 10px;">90</div>
                <div style="margin-right: 40px;"></div>
                <div class="mapel" style="padding-left: 10px;">Seni Budaya dan Sastra</div>
            </div>

            <div style="padding-bottom: 20px;"></div>

            <div class="bawah5" style="display: flex; flex-direction: row;">
                <div class="nilai" style="margin-left: 10px;">90</div>
                <div style="margin-right: 40px;"></div>
                <div class="mapel" style="padding-left: 10px;">Seni Budaya dan Sastra</div>
            </div>

        </div>

    </div>

</body>
</html>